# Dependencias de Node.js
node_modules/

# Directorio de construcción
dist/

# Archivos de configuración locales
*.local
.env.local
.env.*.local

# Archivos de entorno
.env
.env.*

# Archivos de configuración de npm y Yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del editor y del sistema
.DS_Store
Thumbs.db
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de registro
logs
*.log
